body {
  background: #d5c85f;
  font-family: "EB Garamond", serif;
  color: #0d0c08;
}
.logo {
  width: 968.5px;
  height: 220px;
  display: block;
  margin-right: auto;
}

.logo_cont {
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding-bottom: 5px;
  border-width: 2px;
  border-color: #231e18;
  border-style: solid;
}

.wrapper {
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 60px;
  margin-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  margin-left: 300px;
}

.sidemenu {
  height: 100%;
  margin: 0;
  position: fixed;
  overflow-x: hidden;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  font-family: "EB Garamond", serif;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.listoption {
  text-decoration: none;
  color: #0d0c08;
  font-size: large;
  font-weight: 600;
}
a:hover {
  color: #36281b;
  text-decoration: none;
}
.listitem {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 50px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menutitle {
  text-align: center;
}

.hla_down {
  height: 160px;
  width: 120px;
  margin-right: 60px;
  margin-top: 40px;
}

.hla_down_cont {
  align-content: center;
  margin-left: 60px;
  margin-right: 60px;
}

.paragraph {
  margin-top: 10px;
  margin-left: 10px;
  text-align: justify;
}

.mini_titles {
  margin-top: 10px;
  margin-left: 10px;
  color: #231e18;
}

.citate {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 10px;
  font-size: large;
  text-align: center;
}

.source {
  font-family: "EB Garamond", serif;
  text-align: right;
}
.banner_img {
  width: 405px;
  height: 630px;
  float: right;
}

.banner_box {
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  width: 405px;
  height: 630px;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #231e18;
  text-align: center;
  font-weight: 500;
}

.and_img {
  width: 384px;
  height: 216px;
  float: right;
  border-width: 2px;
  border-color: #231e18;
  border-style: solid;
}

.and_img:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 800px;
  height: auto;
  display: block;
  z-index: 999;
}

.and_box {
  width: 400px;
  height: 220px;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
  color: #231e18;
  text-align: center;
  font-weight: 500;
}
